@{
    ViewData["Title"] = "示範 CyModal";
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>

<div>
    <label>文字：<input type="text" value="彈窗要顯示的文字" id="modalmessage" /></label>
    <button onclick="btnClick1();">彈窗</button>
</div>
<div>
    <button onclick="btnClick2();">放入 li 清單</button>
</div>

<div>
    <button onclick="btnClick3();">確認視窗</button>
</div>

<h1 id="callbackText"></h1>

<script>
    function btnClick1() {
        let message = document.getElementById('modalmessage').value;
        CyModal.Alert(message, 'L', '範例', '範例', null);
    }

    function btnClick2(){
        let docFrag = document.createDocumentFragment();
        let ul = document.createElement('ul');
        docFrag.appendChild(ul);
        let itemList = [ '項目甲', '項目乙', '項目丙', '項目丁' ];
        for(let i = 0; i < itemList.length; i++){
            let li = document.createElement('li');
            ul.appendChild(li);
            li.appendChild(document.createTextNode(itemList[i]));
        }
        CyModal.Alert(docFrag, 'M', null, null, null);
    }
    function btnClick3() {
        let message = document.getElementById('modalmessage').value;
        CyModal.Confirm(message, 'L', '確認範例', function(){ 
            document.getElementById('callbackText').textContent = '點擊了確認';
        });
    }
</script>