@{
    ViewData["Title"] = "示範 CyLoading";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>

<label>秒數：<input type="number" value="3" id="delaySec"/></label>
<button class="cy-button btn-red" onclick="startLoading();">開始</button>
<script>
    function startLoading(){
        let sec = parseInt(document.getElementById('delaySec').value);
        let millisec = isNaN(sec) ? 0 : sec * 1000;

        // 開始讀取畫面
        CyLoading.Start();

        // 輸入秒數到後結束讀取畫面
        window.setTimeout(CyLoading.Stop, millisec);
    }
</script>