@{
    ViewData["Title"] = "示範 CyTransfer";
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>

<div id="demoTransfer"></div>


<script>
const demoTransferSchema = {
    TransferID: 'demoTransfer',
    Width: ['45%', '10%', '45%'],
    Height: 450,
    Label: {
        From: '可選取',
        To: '已選取'
    },
    Filter: true
};


window.addEventListener('load', function() {
    CyTransfer.Render(demoTransferSchema);

    let fromData = [
        { text: 'John', value: 'u10221' },
        { text: 'Jimmy', value: 'u19210' },
        { text: 'Mary', value: 'u10293' },
        { text: 'Sylvia', value: 'u12093' },
        { text: 'Carl', value: 'u10215' },
        { text: 'Billy', value: 'u19298' },
        { text: 'Drake', value: 'u10275' },
        { text: 'Ellizabeth', value: 'u12004' },
        { text: 'Flora', value: 'u19271' },
        { text: 'Gina', value: 'u10285' },
        { text: 'Henry', value: 'u12022' }
    ];

    let toData = [
        { text: 'Amelia', value: 'u13072' },
        { text: 'Babara', value: 'u12893' },
    ];
    CyTransfer.Fill('demoTransfer', fromData, toData);

});

</script>