@{
    ViewData["Title"] = "示範 CyGrid";
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>


<label for="QName">學生名稱：</label><input type="text" id="QName" />
<div id="GridDemo"></div>

<script>
    function foo(item, data){
        console.log(foo);
    }

    const gridDemoSchema = {
        PrimaryKey: 'id',
        ReadAfterRender: true,
        Column: [
            {
                ColumnName: '學號',
                DataName: 'id',
                Hidden: true
            },
            {
                ColumnName: '姓名',
                DataName: 'name',
                SortType: 'Name'
            },
            {
                ColumnName: '性別',
                DataName: 'sex',
                SortType: 'Sex',
                Width: 80,
                Align: 'right',
                Getter: function(item, datas){
                    if(item.sex == 'F') return '女';
                    else if(item.sex == 'M') return '男';
                    else return '';
                }
            },
            {
                ColumnName: '生日',
                DataName: 'birthday',
                SortType: "Birthday",
                Width: 250,
                Align: 'left',
                Getter: function(item){
                    let dt = new Date(item.birthday);
                    return dt.getFullYear() + '年' + (dt.getMonth() + 1) + '月' + dt.getDate() + '日';
                }
            },
            {
                ColumnName: '學期成績',
                DataName: 'score',
                SortType: "Score",
                Width: 250,
                Align: 'left'
            },
            {
                ColumnName: '狀態',
                DataName: 'status',
                Align: 'left',
                Getter: function(item, datas){
                    let span = document.createElement('span');
                    if(item.score < 60){
                        span.setAttribute('style', 'color: red;font-weight: 900;');
                        span.textContent = '不及格';
                    }
                    else{
                        span.setAttribute('style', 'color: blue;;');
                        span.textContent = '及格';
                    }
                    return span;
                }
            },
            {
                ColumnName: '身高',
                DataName: 'height',
                SortType: "Height",
                Width: 250,
                Align: 'right'
            },
            {
                ColumnName: '體重',
                DataName: 'weight',
                SortType: "Weight",
                Width: 250,
                Align: 'right'
            }
        ],
        Page: {
            Enable: true,
            PageSize: 10,
            PageSizeSelect: [5, 10, 25],
            PositionUp: true
        },
        Sort: {
            SortDefaultEnable: true,
            SortType: 'ID',
            SortDesc: false
        },
        Event: {
            Read: {
                Url: '/Home/QueryStudents',
                QueryData: ReadStudents
            },
            RowSelect: function(item, datas){ 
                console.log(item);
                console.log(datas);
            },
            //"RowDeselect": "RowDeselectTest(item.name);",
            //"RowDoubleClick": "ContinueGameDb(item.characterID);",
            //"ReadDone": "ReadDoneTest();"
        },
        MultiSelect: false
    }

    function ReadStudents(){
        return {
            'QName': document.getElementById('QName').value
        }
    }
    window.addEventListener('load', function(){
        CyGrid.Render('GridDemo', gridDemoSchema);
    });
</script>