@{
    ViewData["Title"] = "示範渲染圖示 CyIcon";
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>
<div>
    <button class="cy-button btn-blue"><i data-size="1">check</i>確認</button>
</div>
<div>
    <button class="cy-button btn-yellow"><i data-size="1">pencil</i>編輯</button>
    <button class="cy-button btn-red"><i data-size="1">trashcan</i>刪除</button>
</div>
<div>
    <i data-size="5">undo</i>
</div>
<div style="color:yellow;background-color:purple; height:10rem;width:10rem;">
    <i data-size="10">arrow-e-end</i>
</div>
<script>
</script>