@{
    ViewData["Title"] = "首頁";
}
<style>
    a{
        text-decoration:none;
        color:blue;
    }
    a:hover{
        background-color:darkblue;
        color:white;
    }
</style>
<div>
    <h1>Welcome</h1>
    <h2><a href="~/Home/DemoLoading/">示範讀取 CyLoading</a></h2>
</div>
