@{
    ViewData["Title"] = "首頁";
}
<style>
    a{
        text-decoration:none;
        color:blue;
    }
    a:hover{
        color: orange;
    }
</style>
<div>
    <h1>Welcome</h1>
    <h2><a href="~/Home/DemoLoading/">示範讀取畫面 CyLoading</a></h2>
    <h2><a href="~/Home/DemoGrid/">示範使用表格 CyGrid</a></h2>
    <h2><a href="~/Home/DemoModal1/">示範使用彈窗 CyModal Alert - 基本，設定</a></h2>
    <h2><a href="~/Home/DemoModal2/">示範使用彈窗 CyModal Alert - 點選確認後的動作</a></h2>
    <h2><a href="~/Home/DemoModal3/">示範使用彈窗 CyModal Alert - 用清單等 DOM 顯示訊息，並使用自訂大小 150*350</a></h2>
    <h2><a href="~/Home/DemoModal4/">示範使用彈窗 CyModal Confirm - 點擊確認鈕後才繼續動作</a></h2>
    <h2><a href="~/Home/DemoModal5/">示範使用彈窗 CyModal Confirm - 點擊確認與取消鈕後執行不同動作</a></h2>
    <h2><a href="~/Home/DemoIcon/">示範渲染圖示 CyIcon</a></h2>
</div>
